<p id="notice"><%= notice %></p>

<h1>Parts</h1>

<div class="d-flex">
<table>
  <thead>
    <tr>
      <th colspan="9"></th>
    </tr>
  </thead>

  <tbody>
    <%= turbo_stream_from "parts" %>
    <%= turbo_frame_tag "parts" do %>
      <%= render @parts %>
    <% end %>
  </tbody>
</table>
</div>

<br>

<%= link_to 'New Part', new_part_path %>
